{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Welcome {% if context['name'] %}{{ context['name'] }}{% endif %}!</h1>
    <div>
      {% if session['role'] == 'admin' %}
        {% include 'admin_dashboard.html' %}
      {% elif session['role'] == 'user' %}
        {% include 'user_dashboard.html'   %}
        {% include 'parkings.html' %}
      {% else %}
        <p class="text-center">You are browsing as a guest.</p>
        {% include 'parkings.html' %}
      {% endif %}
    </div>
{% endblock %}