<nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="true"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse d-lg-flex collapse show" id="navbarsExample11">
            <a class="navbar-brand col-lg-3 me-0" href="/">Vehicle Parking</a>
            <ul class="navbar-nav col-lg-6 justify-content-lg-center">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="/">Home</a>
                </li>
                {% if session['role'] == 'admin' %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/users' %}active{% endif %}" href="/users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/search' %}active{% endif %}" href="/search">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/summary' %}active{% endif %}" href="/summary">Summary</a>
                </li>
                {% elif session['role'] == 'user' %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/summary' %}active{% endif %}" href="/user/summary">Summary</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/login' %}active{% endif %}" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/register' %}active{% endif %}" href="{{ url_for('register') }}">Register</a>
                </li>
                {% endif %}
            </ul>
            {% if session['email'] %}
            <div class="d-flex mx-4 ms-auto align-items-center gap-3">
                <a class="nav-link{% if request.path == '/profile' %} active{% endif %}" href="/profile">Edit Profile</a>
                <a class="nav-link{% if request.path == '/logout' %} active{% endif %}" href="/logout">Logout</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>